.img_container ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    clear: both;
}

.img_container ul .block {
    position: relative;
    float: left;
    margin: 0 0 0 0;
}

.img_container ul .block img {
}

.img_container ul .block span {
    width: 100%; height: 3rem;
    line-height: 3rem;
    position: absolute;
    bottom: 0; left: 0;
    padding: 0 1rem;
    font-size: 1.3rem;
    color: #fff;
    background: rgba(0,0,0,0.5);
}

.vspace {
	height: 1.3em;
}

.gmap {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.modal-backdrop.in {
	opacity: 0;
}

#searchModal {
	top: 20%;
}

#browseModal {
	top: 20%;
}

.btn.btn-primary.tag {
	border-radius: 0px;
	margin-bottom: 1em;
}

.thumb {
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
    margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

.dir_container ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}